#
# Copyright (c) 2022 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Wi-Fi Fund Lesson 4 Exercise 2"

config MQTT_PUB_TOPIC
	string "MQTT publish topic"

config MQTT_SUB_TOPIC
	string "MQTT subscribe topic"

config MQTT_CLIENT_ID
	string "MQTT Client ID"
	help
	  Use a custom Client ID string.

config MQTT_BROKER_HOSTNAME
	string "MQTT broker hostname"
	default "mqtt.nordicsemi.academy"

config MQTT_BROKER_PORT
	int "MQTT broker port"
	default 1883

config MQTT_MESSAGE_BUFFER_SIZE
	int "MQTT message buffer size"
	default 128

config MQTT_PAYLOAD_BUFFER_SIZE
	int "MQTT payload buffer size"
	default 128

config BUTTON1_MSG
	string "The message to publish on a button event"
	default "Button 1 Pressed"

config BUTTON2_MSG
	string "The message to publish on a button event"
	default "Button 2 Pressed"

config LED1_ON_CMD
	string "Command to turn on LED"
	default "LED1ON"

config LED1_OFF_CMD
	string "Command to turn off LED"
	default "LED1OFF"

config LED2_ON_CMD
	string "Command to turn on LED"
	default "LED2ON"

config LED2_OFF_CMD
	string "Command to turn off LED"
	default "LED2OFF"

config MQTT_RECONNECT_DELAY_S
	int "Seconds to delay before attempting to reconnect to the broker."
	default 60
endmenu

source "Kconfig.zephyr"