#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Wi-Fi Fund Lesson 5 Exercise 3"

# STEP 4 - Define the Kconfig for the server port
config HTTP_SERVER_SAMPLE_PORT
    int "HTTP server port"
    default 80

endmenu

source "Kconfig.zephyr"