#
# Copyright (c) 2022 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Wi-Fi Fund Lesson 4 Exercise 1"

config MQTT_SAMPLE_PUB_TOPIC
	string "MQTT publish topic"

config MQTT_SAMPLE_SUB_TOPIC
	string "MQTT subscribe topic"

config MQTT_SAMPLE_BROKER_HOSTNAME
	string "MQTT broker hostname"
	default "mqtt.nordicsemi.academy"

endmenu

source "Kconfig.zephyr"