#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Wi-Fi Fund Lesson 6 Exercise 1"

config HTTP_SAMPLE_HOSTNAME
	string "HTTP server hostname"
	default "rest.nordicsemi.academy"

config HTTP_SAMPLE_PORT
    string "HTTP server port"
    default "80"
endmenu

source "Kconfig.zephyr"